<div class="min-h-screen bg-[#2C2C2C]">
  <div class="text-center font-black text-white py-8 italic font-[Racing-Sans-One,sans-serif]">
    <p class="text-7xl">Check Your BMI</p>
    <p class="py-8 text-2xl text-[#1DC255]">Enter your weight and height below to check your BMI results</p>
    <div class="text-3xl py-5">
      <label for="height">Enter your height here in (CM)</label>
      <input type="text" [formControl]="height" class="w-[80%] font-thin h-12 my-5 px-5 rounded-3xl bg-[#333] border-[#707070]">
    </div>
    <div class="text-3xl">
      <label for="weight" class="">Enter your weight here in (KG)</label>
      <input type="text" [formControl]="weight" class="w-[80%] font-thin h-12 my-5 px-5 rounded-3xl bg-[#333] border-[#707070] placeholder:text-center">
    </div>
    <div class="py-4">
      <p class="text-3xl">Your BMI Results</p>
      <p class="text-7xl py-8 text-[#1DC255]">{{result}}</p>
      <p class="text-7xl">{{status}}</p>
    </div>
  </div>
</div>
